/**
 * @name Pyrite
 * @author LeafyLuigi
 * @version 0.1.7
 * @description Pyrite for BetterDiscord/BandagedBD
 * @source https://github.com/LeafyLuigi/discord-themes/tree/master/pyrite
 * @website https://github.com/LeafyLuigi/discord-themes/tree/master/pyrite
 * @invite W976FZS
 */

/* Import Base */
@import url(https://leafyluigi.github.io/discord-themes/pyrite/build/base.css);

/* Import User Modal Layout */
@import url(https://leafyluigi.github.io/discord-themes/pyrite/build/userModalLayout.css);

/* Import BD Only Features */
@import url(https://leafyluigi.github.io/discord-themes/pyrite/build/better-discord.css);

/* Import for optional things: */

/* Optional: HorizontalServerList. Includes the base for the minitheme. Incompatible with Dribbblish. */
/* @import url(https://leafyluigi.github.io/discord-themes/pyrite/build/horizontal-server-list.css); */

/* Optional: Dribbblish. Includes the base for the theme. Incompatible with HorizontalServerList. */
/* @import url(https://leafyluigi.github.io/discord-themes/pyrite/build/dribbblish.css); */

/* Theme Base */
:root {
  --background-image: url(https://img.youtube.com/vi/FoHs9hIWtWA/maxresdefault.jpg);
  --user-modal-image: var(--background-image);
  --user-popout-image: var(--background-image);
  --background-attachment: fixed;
  --user-modal-attachment: var(--background-attachment);
  --user-popout-attachment: var(--background-attachment);
  --primary-color: #d6b2ff;
  --secondary-color: #d6b2ff;
  --hover-color: #d6b2ff;
  --tooltip-color: #cea6fe;
  --mention-background: var(--primary-color);
  --mention-opacity: 0.3;
  --home-icon: url(https://leafyluigi.github.io/images/Sunset%20Nature%2024%20by%20Bouzid27.png);

  --green-color: #43b581;
  --yellow-color: #f9a719;
  --red-color: #ec4144;
  --link-color: #00aef3;
  --live-color:  #583594;
  --offline-color: #737e8c;

  /* For Advanced Users */
  --code-font: Monaco, Consolas, Courier, monospace;
  --body-font: Whitney, Helvetica Neue, Helvetica, sans-serif;
  /* Below are currently unused but will be used in future. */
  --background-filters: none;
  --user-modal-filters: blur(3px);
  --user-popout-filters: blur(3px);
  --gradient-colors: var(--primary-color);
  --gradient-direction: to bottom right;
  --body-filters: none;

  /* Toggles. From 0 (disable) to 1 (enable). Anything outside of those values have NOT been tested and likely aren't supported. */
  --hide-member-list: 1;
  --hide-active-now: 1;

  /* Windows Only - How many *pixels* wide the min/max/close buttons should be. */
  --win-min-max-close-button-width: 28px; /* default: 28px, square: 48px */


  /* Using HSL? Uncomment this chunk below. */

  /*--server-size: var(--HSL-server-icon-size, var(--HSL-size, 35px));
  --server-spacing: var(--HSL-server-spacing, var(--HSL-spacing, 10px));
  --server-container: calc(var(--server-size) + 20px); */

  /* Using any of the below plugins? Change the 0 to a 1 */
  --channel-tabs-enabled: 0;
}


/* Feel free to edit these ones for Dark Mode */
.theme-dark {
  --card-background: rgba(0,0,0,0.5);
  --side-shading: rgba(0,0,0,0.5);
  --middle-shading: rgba(0,0,0,0.3);
  --header-shading: rgba(0,0,0,0.7);
}

/* Feel free to edit these ones for Light Mode */
.theme-light {
  --card-background: rgba(255,255,255,0.05);
  --side-shading: rgba(255,255,255,0.4);
  --middle-shading: rgba(255,255,255,0.3);
  --header-shading: rgba(255,255,255,0.5);
}

.button-3AYNKb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #bca1eb;
}

.attachButtonPlus-jWVFah {
    fill: #743eb9cf;
}

.markup-2BOw-j {
    font-size: 1rem;
    line-height: 1.375rem;
    white-space: pre-wrap;
    white-space: break-spaces;
    word-wrap: break-word;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    color: #ffffff;
    font-weight: 400;
}

.modeConnected-3IsKId .name-23GUGE, .modeConnected-3IsKId:hover .name-23GUGE, .modeSelected-346R90 .name-23GUGE, .modeSelected-346R90:hover .name-23GUGE, .modeUnread-1qO3K1 .name-23GUGE, .modeUnread-1qO3K1:hover .name-23GUGE, .notInteractive-1X92pj.modeConnected-3IsKId .name-23GUGE, .notInteractive-1X92pj.modeSelected-346R90 .name-23GUGE {
    color: #d6b2ff;
}

.name-23GUGE {
    color: #d6b2ff;
}

.attachButtonPlus-jWVFah {
    fill: #d6b2ff;
}

.button-1ZiXG9 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 24px;
    padding: 4px;
    min-width: 24px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    color: #d64bb1;
    cursor: pointer;
    position: relative;
}

.repliedMessage-VokQwo {
    --reply-spacing: 4px;
    color: #e427f1;
    position: relative;
    white-space: pre;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


element.style {
}
a, button, div, input, label, select, span, strong, textarea {
    outline: 0;
}
a, abbr, acronym, address, applet, big, blockquote, body, caption, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, form, h1, h2, h3, h4, h5, h6, html, iframe, img, ins, kbd, label, legend, li, object, ol, p, pre, q, s, samp, small, span, strike, strong, table, tbody, td, tfoot, th, thead, tr, tt, ul, var {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    font-size: 100%;
    vertical-align: baseline;
}
.membersGroup-v9BXpm {
    color: #d6b2ff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerDefault-3tr_sE .wrapper-PY0fhH .name-3l27Hl {
    color: #dbcdf7;
    display: flex;
    justify-content: center;
    align-items: center;
}
